main > div {
    height: auto;
    width: 95%;
    margin: 20px 10px;
}

h2 {
    margin-top: 10px;
}

form {
    flex-direction: column;
    width: 90%;
}

.response {
    margin-bottom: 30px;
}

form > div, #checks div, #inputs {
    display: flex;
    align-items: center;
    text-align: center;
}

form > div {
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

form > div div {
    width: 200px;
}

.response {
    width: 300px;
    height: auto;
    background: none;
    border: 0;
    color: #fff;
}

#quantity label {
    margin: 10px 0;
    font-size: 1em;
}

#checks, #inputs {
    display: flex;
    align-items: center;
}

#checks {
    font-size: 13px;
    flex-direction: column;
}

#checks div, #inputs {
    justify-content: space-around;
}

#checks label {
    width: 140px;
    font-size: 1.13em;
    padding: 0 10px;
}

input[type="number"] {
    width: 40px;
    height: 25px;
    margin: 10px;
}

input[type="checkbox"] {
    margin: 10px;
    width: 15px;
}

@media only screen and (min-width: 1050px) {
    main > div {
        width: 40%;
    }

    form > div {
        width: 80%;
        padding: 20px;
        justify-content: space-around;
    }

    form > div > div {
        margin: 30px 0 10px 0;
    }

    #quantity label {
        width: auto;
        font-size: 1.2em;
    }

    input[type="number"] {
        width: 50px;
    }
}
